body {
  background-color: #f0f0f0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
}

body * {
  box-sizing: border-box;
}

.main-wrapper {
  align-items: center;
  display: flex;
  height: 90vh;
}

.wrapper {
  align-items: center;
  display: flex;
}

/* The Modal (background) */
.modal {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none; /* Hidden by default */
  justify-items: center;
  height: 100%; /* Full height */
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Sit on top */
}

/* The Close Button */
.close {
  color: rgb(255, 254, 254);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ==================== Navigation bar ================================= */
.navbar {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 8px;
}

.navbar a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.wrapper > a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 600;
  margin: 6px 0;
  padding: 4px;
  text-decoration: none;
}

.navbar > .wrapper >  a + a:last-child {
  border-left: 2px solid rgba(0, 0, 0, 0.6);
} 

/* hover & focus */
.navbar a:hover, 
.dropdown-button:hover, .dropdown-button:focus,
.cancel-btn:hover {
  background-color: #ddd;
}

/* Awesome icons*/
a > i.material-icons {
  border: 0;
  line-height: 18px;
  color: rgba(0,0,0,0.6);
}

/* Material icons*/
.material-icons {
  vertical-align: text-bottom;
}

/* Navbar logo */
img.avatar-navbar {
  height: 30px;
}

img.avatar-navbar:hover {
  opacity: 0.6;
}

.search-container form input {
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  min-width: 210px;
  padding: 8px;
  width: 33vw;
}

/* Dropdown Button */
.dropdown-button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  padding: 4px;
  margin-right: 4px;
  white-space: nowrap;
}

.material-icons.dropdown-button {
  font-size: 24px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown, .dropdown a {
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  min-width: 160px;
  position: absolute;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-align: left;
}

/* Show the dropdown menu */
.show {
  display: block;
}

/* Show the nested menu on mouseover */
.sub-menu:hover .dropdown-content {
  display: inline-block;
}

.sub-menu > a{
  width: 100%;
  display: inline-block;
}


/* ============================ Main Page ============================= */
.main-page-wrapper {
  display: block;
}

.categories-panel {
  box-sizing: border-box;
  background-color: #ddd;
  display: inline-flex;
  height: calc(60px + 3%);
  justify-content: center;
  padding: 0 20px;
  width: 100vw;
}

.category-figure {
  display: inline-block;
  flex: 0 1 auto;
  margin: 6px auto;
  min-width: 50px;
  max-width: 100px;
  text-align: center;
}

.category-figure img{
  background-color: white;
  display: inline-block;
  margin: 0;
  max-height: 70%;
  max-width: 40%;
}

.category-figure p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 6px;
}

.certificates-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.card {
  display: inline-flex;
  flex-flow: column;
  margin: 8px;
  width: 150px;
}

.card img {
  width: 100%;
}

/* ============================ Forms ================================= */
.form-header {
  background-color: #a0a0a0;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.form-header p {
  height: 50px;
  line-height: 50px;
  margin: 0 5%;
}

.form-wrapper {
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  font-size: 12px;
  font-weight: 600;
  min-width: 180px;
  width: 40%;
}

.form-wrapper + .form-wrapper {
  margin-left: 5%;
}

.app-form input,
.app-form select,
.app-form textarea {
  border: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 600;
  margin: 8px 0;
  padding: 8px;
}

.app-form input:hover,
.app-form input:hover,
.app-form select:hover,
.img-upload:hover {
  background-color: #f3f3f3;
}

.app-form input[type="file"] {
  font-size: 14px;
  font-weight: 400;
}

.app-form button {
  font-size: 14px;
  font-weight: 600;  
}

/* Set a style for submit buttons */
form .btn{
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

/* Set a style for cancel buttons */
form .cancel-btn {
  background-color: white;
  border: 2px solid #ccc;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  padding: 8px;
  width: 100%;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin: 19px 0 10px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.image-input {
  background-color: white;
  border: 1px solid #ccc;
  height: 38px;
  margin: 8px 0;
  padding: 2px 2px 2px 8px;
}

.img-upload {
  margin: 3px;
  max-height: 80%;
  float: right;
}

#customText {
  line-height: 32px;
}

/* Login form ---------------------------------------------------------- */ 
/* Center content inside form container */
.login-form-container {
  background-color: #f9f9f9;
  border: 2px solid #a0a0a0;
  font-size: larger;
  margin: auto;
  min-width: 300px;
  max-width: 600px;
  width: 40%;
}

.login-form-container button,
.login-form-container ::placeholder {
  font-size: 19px;
  font-weight: 500;
}

/* Full-width inputs */
.login-form-container input {
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: block;
  margin: 8px 0;
  padding: 8px;
  text-align: center;
  width: 100%;
}

/* Center the avatar image inside this container */
.img-container {
  margin: -15% auto;
  max-width: 150px;
  text-align: center;
  width: 45%;
}

/* Avatar image */
img.avatar {
  border-radius: 0 0 50% 50%;
  width: 80%;
}

/* Add padding to containers */
.input-container {
  margin: 15% auto 20px;
  padding: 16px;
  width: 70%;
}


/* Register form ---------------------------------------------------------*/
/* Center content inside form container */
.register-form-container {
  background-color: #f9f9f9;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.5);
  margin: auto;
  max-width: 1100px;
  width: 70%;
}

.register-form-container form,
.add-form-container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
}

.register-form-container button,
.add-form-container button {
  width: 45%;
}


/* Add new Certificate form ----------------------------------------------*/
.add-certificate-wrapper {
  background-color: #f9f9f9; 
  display: block;
}

/* Center content inside form container */
.add-form-container {
  background-color: #f9f9f9;
  display: block;
  margin: 0 auto;
  width: 70%;
}

.add-form-container label {
  margin-top: 8px;
}


/* =================== MEDIA QUERIES =========================== */
@media (max-width: 640px) {
  
  body {
    font-size: 12px;
  }

  .add-form-container {
    width: 90%;
  }

  .form-wrapper + .form-wrapper {
    margin-left: 0;
  }
}
