<main class="add-entity-wrapper">
  <div class="form-header">
    <p>Add new Certificate</p>
  </div>
  <div class="add-form-container">
    <form id="addCertificate" class="app-form" [formGroup]="certificateForm" (ngSubmit)="addCertificate()">
      <div class="form-wrapper">
        <label id="item-name" for="item-name">Certificate Name</label>
        <input type="text" formControlName="itemName" required>
        <label for="category">Category</label>
        <input type="text" [formControl]="tagSelect" placeholder="Pick a tag" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let tagName of filteredTags | async" [value]="tagName" class="tag-option">
            {{tagName}}
          </mat-option>
        </mat-autocomplete>
        <label for="validTo">Duration In Days</label>
        <input type="number" id="validTo" formControlName="durationInDays" min="0" step="1" required>
        <label for="price">Price</label>
        <input type="number" id="price" formControlName="price" min="0" step="0.01" required>
      </div>
      <div class="form-wrapper">
        <label for="imgBtn">Images</label>
        <div class="image-input">
          <span id="customText">No file chosen</span>
          <img class="img-upload" id="imgUpload" src="/assets/image.png" alt="upload">
        </div>
        <input type="file" id="imgRealBtn" formControlName="image" accept="image/*" multiple hidden>
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" rows="6"></textarea>
        <div class="btn-group">
          <button type="reset" class="cancel-btn">Cancel</button>
          <button type="submit" class="btn" [disabled]="!certificateForm.valid">Save</button>
        </div>
      </div>
    </form>
  </div>
</main>
