<div class="item-page-wrapper">
  <div class="item-wrapper">
    <div class="item-container flex-item">
      <div class="item-img">
        <img src="/assets/logo1.png" alt="Certificate img">
      </div>
      <article class="item-description-large">
        <h2>Item Detailed Description</h2>
        <p>{{certificate.description}}</p>
      </article>
    </div>
    <div class="flex-item">
      <div class="item-card ">
        <div>
          <h2 class="item-name">{{certificate.name}}</h2>
          <p class="item-description">{{certificate.description}}</p>
        </div>
        <div class="expires-block">
          <div>Time Left To Buy</div>
          <span>{{certificate.durationInDays}}</span>
        </div>
        <div>
          <span class="item-price">{{certificate.price | currency}}</span>
          <a class="cart-icon" routerLink='/order'><i class="material-icons">local_grocery_store</i></a>
          <a class="add-to-cart-link" href="#addToCart">Add to cart</a>
        </div>
      </div>
      <div class="btn-group" *ngIf="userService.isAdminUser">
        <button mat-raised-button color="primary" (click)="editItem()">Edit</button>
        <button mat-raised-button color="accent" (click)="confirmDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>
