.categories-panel {
  box-sizing: border-box;
  background-color: #ddd;
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: center;
  width: 100%;
}

.categories-wrapper {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}
