<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/logo1.png">
  <!-- reset and normalize embedded styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <!-- awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Material icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- main css style -->
  <link rel="stylesheet" href="/css/main.css">
  <title>Main page</title>
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="wrapper">
        <div class="dropdown">
          <a href="#" onclick="addShowClass(1)">
            <i class="material-icons dropdown-button">menu</i></a>
          <div id="myDropdown1" class="dropdown-content">
            <div class="sub-menu">
              <a href="/views/main.html">Certificates <i class="material-icons">arrow_right</i></a>
              <div class="dropdown-content">
                <a href="/views/main.html">All certificates</a>
                <a href="/views/certificate-new.html">New certificate</a>
                <a href="#">Sublink 3</a>
              </div>
            </div>
            <div class="sub-menu">
              <a href="#">Orders <i class="material-icons">arrow_right</i></a>
              <div class="dropdown-content">
                <a href="#">All orders</a>
                <a href="/views/order.html">New order</a>
                <a href="#">SubLink 3</a>
              </div>
            </div>
            <a href="http://localhost:8088/gift-rest-service/swagger-ui/" target="_blank">API docs</a>
          </div>
        </div>
        <a href="/views/main.html">
          <img src="/assets/logo2.png" alt="Logo" class="avatar-navbar"></a>
      </div>
      <div class="wrapper">
        <div class="search-container">
          <form action="http://localhost:8087/gift-rest-service/api/v1/certificates">
            <input type="text" placeholder="Search by certificate name..." name="search">
            <input type="submit" hidden />
          </form>
        </div>
        <div class="dropdown">
          <button onclick="addShowClass(2)" class="dropdown-button">All categories
            <i class="material-icons">arrow_drop_down</i>
          </button>
          <div id="myDropdown2" class="dropdown-content">
            <a href="#">Category 1</a>
            <a href="#">Category 2</a>
            <a href="#">Category 3</a>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <a href="#favorite"><i class="material-icons">favorite_border</i></a>
        <a href="/views/order.html"><i class="material-icons">local_grocery_store</i></a>
        <a href="/views/login.html">Login</a>
        <a href="/views/register.html">SignUp</a>
      </div>
    </nav>
  </header>
  <main class="main-page-wrapper">
    <div class="categories-panel">
      <div class="categories-wrapper">
        <div class="category-figure">
          <img src="/assets/logo.png" alt="Category img">
          <div>Category</div>
        </div>
        <div class="category-figure">
          <img src="/assets/logo.png" alt="Category img">
          <div>Category</div>
        </div>
        <div class="category-figure">
          <img src="/assets/logo.png" alt="Category img">
          <div>Category</div>
        </div>
        <div class="category-figure">
          <img src="/assets/logo.png" alt="Category img">
          <div>Category</div>
        </div>
        <div class="category-figure">
          <img src="/assets/logo.png" alt="Category img">
          <div>Category</div>
        </div>
        <div class="category-figure">
          <img src="/assets/logo.png" alt="Category img">
          <div>Category</div>
        </div>
        <div class="category-figure">
          <img src="/assets/logo.png" alt="Category img">
          <div>Category</div>
        </div>
      </div>
    </div>
    <section class="certificates-container">
      <div class="card">
        <a href="/views/certificate.html"><img src="/assets/logo1.png" alt="Certificate img"></a>
        <div class="card-text">
          <div>
            <span class="card-item-name">Certificate name</span>
            <i class="material-icons">favorite_border</i>
          </div>
          <div class="card-description">Some brief certificate description</div>
          <span>Expires in 30 days</span>
          <div>
            <span class="price">$219.99</span>
            <button class="card-btn">Add to Cart</button>
          </div>
        </div>
      </div>
      <div class="card">
        <a href="/views/certificate.html"><img src="/assets/logo2.png" alt="Certificate img"></a>
        <div class="card-text">
          <div>
            <span class="card-item-name">Certificate name</span>
            <i class="material-icons">favorite_border</i>
          </div>
          <div class="card-description">Some brief certificate description</div>
          <span>Expires in 30 days</span>
          <div>
            <span class="price">$219.99</span>
            <button class="card-btn">Add to Cart</button>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="/assets/logo1.png" alt="Certificate img">
        <div class="card-text">
          <div>
            <span class="card-item-name">Certificate name</span>
            <i class="material-icons">favorite_border</i>
          </div>
          <div class="card-description">Some brief certificate description</div>
          <span>Expires in 30 days</span>
          <div>
            <span class="price">$219.99</span>
            <button class="card-btn">Add to Cart</button>
          </div>
        </div>
      </div>
      </div>
      <div class="card">
        <img src="/assets/logo1.png" alt="Certificate img">
        <div class="card-text">
          <div>
            <span class="card-item-name">Certificate name</span>
            <i class="material-icons">favorite_border</i>
          </div>
          <div class="card-description">Some brief certificate description</div>
          <span>Expires in 30 days</span>
          <div>
            <span class="price">$219.99</span>
            <button class="card-btn">Add to Cart</button>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="/assets/logo1.png" alt="Certificate img">
        <div class="card-text">
          <div>
            <span class="card-item-name">Certificate name</span>
            <i class="material-icons">favorite_border</i>
          </div>
          <div class="card-description">Some brief certificate description</div>
          <span>Expires in 30 days</span>
          <div>
            <span class="price">$219.99</span>
            <button class="card-btn">Add to Cart</button>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="/assets/logo1.png" alt="Certificate img">
        <div class="card-text">
          <div>
            <span class="card-item-name">Certificate name</span>
            <i class="material-icons">favorite_border</i>
          </div>
          <div class="card-description">Some brief certificate description</div>
          <span>Expires in 30 days</span>
          <div>
            <span class="price">$219.99</span>
            <button class="card-btn">Add to Cart</button>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="/assets/logo1.png" alt="Certificate img">
        <div class="card-text">
          <div>
            <span class="card-item-name">Certificate name</span>
            <i class="material-icons">favorite_border</i>
          </div>
          <div class="card-description">Some brief certificate description</div>
          <span>Expires in 30 days</span>
          <div>
            <span class="price">$219.99</span>
            <button class="card-btn">Add to Cart</button>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="/assets/logo1.png" alt="Certificate img">
        <div class="card-text">
          <div>
            <span class="card-item-name">Certificate name</span>
            <i class="material-icons">favorite_border</i>
          </div>
          <div class="card-description">Some brief certificate description</div>
          <span>Expires in 30 days</span>
          <div>
            <span class="price">$219.99</span>
            <button class="card-btn">Add to Cart</button>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="/assets/logo1.png" alt="Certificate img">
        <div class="card-text">
          <div>
            <span class="card-item-name">Certificate name</span>
            <i class="material-icons">favorite_border</i>
          </div>
          <div class="card-description">Some brief certificate description</div>
          <span>Expires in 30 days</span>
          <div>
            <span class="price">$219.99</span>
            <button class="card-btn">Add to Cart</button>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="/assets/logo1.png" alt="Certificate img">
        <div class="card-text">
          <div>
            <span class="card-item-name">Certificate name</span>
            <i class="material-icons">favorite_border</i>
          </div>
          <div class="card-description">Some brief certificate description</div>
          <span>Expires in 30 days</span>
          <div>
            <span class="price">$219.99</span>
            <button class="card-btn">Add to Cart</button>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="/js/main.js"></script>
</body>

</html>