<nav class="navbar">
  <div class="wrapper">
    <button mat-icon-button class="large" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="certificates">Certificates</button>
      <button mat-menu-item [matMenuTriggerFor]="orders">Orders</button>
      <a mat-menu-item href="http://localhost:8088/gift-rest-service/swagger-ui/" target="_blank">API docs</a>
    </mat-menu>
    <mat-menu #certificates="matMenu">
      <button mat-menu-item>All certificates</button>
      <button mat-menu-item>New certificate</button>
      <button mat-menu-item>Sublink 3</button>
    </mat-menu>
    <mat-menu #orders="matMenu">
      <button mat-menu-item>All orders</button>
      <button mat-menu-item>New order</button>
      <button mat-menu-item>Sublink 3</button>
    </mat-menu>
    <a href="index.html">
      <img src="/assets/logo2.png" alt="Logo" class="avatar-navbar"></a>
  </div>

  <div class="wrapper">
    <div class="search-container">
      <form action="#" onsubmit="event.preventDefault()">
        <input type="text" id="searchPanel" placeholder="Search by name or description..." name="search">
        <input type="submit" hidden>
      </form>
    </div>
    <button mat-button [matMenuTriggerFor]="categories">All categories
      <i class="material-icons">arrow_drop_down</i></button>
    <mat-menu #categories="matMenu">
      <div class="tag-search-container" (click)="$event.stopPropagation()">
        <form action="#" (submit)="searchByTag($event)">
          <input class="dropdown-input" type="text" placeholder="Tag name..." name="tag">
          <i class="material-icons">search</i>
          <input type="submit" hidden />
        </form>
      </div>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>

  <!-- <div class="dropdown">
          <button (click)="toggleShowClass()" class="dropdown-button">All categories
            <i class="material-icons">arrow_drop_down</i>
          </button>
          <div id="myDropdown" [class.show]="showClass" class="dropdown-content">
            <div class="tag-search-container">
              <form action="#" onsubmit="searchByTag(event)">
                <input class="dropdown-input" type="text" placeholder="Tag name..." name="tag">
                <i class="material-icons">search</i>
                <input type="submit" hidden />
              </form>
            </div>
          </div>
        </div> -->

  <div class="wrapper">
    <a href="#favorite"><i class="material-icons">favorite_border</i></a>
    <a href="order.html"><i class="material-icons">local_grocery_store</i></a>
    <a href="login.html">Login</a>
    <a href="register.html">SignUp</a>
  </div>
</nav>
