.mat-icon-button.large {
  width: 32px;
  height: 32px;
  line-height: 32px;

  .mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
    line-height: 32px;
  }

  &:hover {
    background-color: #eee;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffffff;
  margin: 0;
  padding: 0 8px;

  & > .wrapper > a + a:last-child {
    border-left: 2px solid rgba(0, 0, 0, 0.6);
  }

  a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
  }

  a:first-of-type {
    margin-left: 6px;
  }
}

/* hover & focus */
.navbar a:hover,
.dropdown-button:hover, .dropdown-button:focus,
.cancel-btn:hover {
  background-color: #ddd;
}

/* Awesome icons*/
a > i.material-icons {
  border: 0;
  line-height: 18px;
  color: rgba(0,0,0,0.6);
}

/* Material icons*/
.material-icons {
  vertical-align: text-bottom;

  &.dropdown-button {
    font-size: 32px;
  }
}

/* Navbar logo */
img.avatar-navbar {
  height: 30px;

  &:hover {
    opacity: 0.6;
  }
}

.search-container input {
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  min-width: 210px;
  padding: 8px;
  width: 33vw;

  &:hover {
    background-color: rgb(232, 232, 232);
  }

}

.tag-search-container {
  &:hover {
    background-color: white;
  }

  i {
    line-height: 18px;
  }

  form input {
    background-color: #f1f1f1;
    border: none;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 16px;
    text-align: left;
    width: 160px;

    &:hover,
    &:focus {
      background-color: white;
    }
  }
}

/* Dropdown Button */
.dropdown-button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  padding: 4px;
  margin-right: 4px;
  white-space: nowrap;
}

/* The container <div> - needed to position the dropdown content */
.dropdown, .dropdown a {
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  font-size: 15px;
  min-width: 160px;
  position: absolute;

    a {
    padding: 12px 16px;
    display: block;
    text-align: left;
  }
}

/* Show the dropdown menu */
.show {
  display: block;
}

/* Show the nested menu on mouseover */
.sub-menu:hover .dropdown-content {
  display: inline-block;
}

.sub-menu > a{
  width: 100%;
  display: inline-block;
}
