<div class="add-entity-wrapper">
  <div class="form-header">
    <p>Checkout</p>
  </div>
  <div class="order-container">
    <div *ngIf="!this.certificates.length">
      <h3>The Cart is empty. Add some goods to make an order</h3>
    </div>
    <div *ngIf="this.certificates.length" class="order-wrapper">
      <div *ngFor="let item of certificates; let index = index" class="order-item">
        <div class="order-item-img">
          <img src="assets/logo1.png" alt="Certificate img">
        </div>
        <div class="order-item-description">
          <a [routerLink]="['/certificate', item.id ]">
            <h3 class="order-item-name">{{item.name}}</h3>
          </a>
          <p class="item-description">{{item.description}}</p>
        </div>
        <div class="empty-block">
          <button mat-icon-button class="large" color="primary" (click)="this.removeItem(index)" matTooltip="remove item">
            <mat-icon >delete_forever</mat-icon>
          </button>
        </div>
        <div class="order-item-price">
          <p>{{item.price | currency}}</p>
        </div>
      </div>
      <div class="clear-btn">
        <button mat-raised-button color="accent" (click)="clearOrder()">Clear shopping cart</button>
      </div>
      <div class="total-text">
        <p>Total</p>
      </div>
      <div class="total-cost">
        <p>{{this.total | currency}}</p>
      </div>
    </div>
    <div class="btn-group">
      <button class="cancel-btn" (click)="goBack()">Back</button>
      <button *ngIf="this.certificates.length" class="btn" (click)="comfirmOrder()">Checkout</button>
    </div>
  </div>
</div>
