.category-figure {
  align-items: center;
  background-color: white;
  background-image: url("../../../assets/logo.png");
  background-position: center;
  border-radius: 5%;
  display: flex;
  flex: 0 1 auto;
  height: 120px;
  margin: 6px auto;
  min-height: 60px;
  min-width: 60px;
  opacity: 0;
  transition: opacity 1s 1s;
  width: 120px;

  &:hover {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)) url("../../../assets/logo.png");
    background-color: #ddd;
    background-size: cover;
    cursor: pointer;
    opacity: 0.9;

    .tag-name {
      display: block;
    }
  }

  .tag-name {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 7%;
    color: white;
    display: none;
    height: 40px;
    line-height: 40px;
    margin: 10px auto;
    padding: 0 4px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    width: 90%;
  }

  @media (max-width: 640px) {
    height: 100px;
    width: 100px;
    .tag-name {
      font-size: 10px;
    }
  }
}
