<nav class="navbar">
  <div class="wrapper">
    <button mat-icon-button class="large" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="certificates">Certificates</button>
      <button mat-menu-item [matMenuTriggerFor]="orders">Orders</button>
      <a mat-menu-item href="http://localhost:8088/gift-rest-service/swagger-ui/" target="_blank">API docs</a>
    </mat-menu>
    <mat-menu #certificates="matMenu">
      <button mat-menu-item routerLink="/home">All certificates</button>
      <button mat-menu-item routerLink="/certificate">New certificate</button>
      <button mat-menu-item>Sublink 3</button>
    </mat-menu>
    <mat-menu #orders="matMenu">
      <button mat-menu-item>All orders</button>
      <button mat-menu-item routerLink="/order">New order</button>
      <button mat-menu-item>Sublink 3</button>
    </mat-menu>
    <a routerLink="/home">
      <img src="assets/logo2.png" alt="Logo" class="avatar-navbar"></a>
  </div>

  <div [style.visibility]="(isHomePage) ? 'visible' : 'hidden'" class="wrapper">
    <div class="search-container">
      <form action="#" (submit)="$event.preventDefault()">
        <input type="text" id="searchPanel" placeholder="Search by name or description..." name="search">
        <input type="submit" hidden>
      </form>
    </div>
    <button mat-button class="dropdown-button" [matMenuTriggerFor]="categories">Categories
      <i class="material-icons">arrow_drop_down</i></button>
    <mat-menu #categories="matMenu">
      <div class="tag-search-container" (click)="$event.stopPropagation()">
        <form action="#" (submit)="searchByTag($event)">
          <input id="tagSearch" class="dropdown-input" type="text" [(ngModel)]="tagSearch" placeholder="Tag name..." name="tag">
          <i class="material-icons">search</i>
          <input type="submit" hidden />
        </form>
      </div>
      <button mat-menu-item (click)="searchByTag($event)" *ngFor="let tag of tags">
        {{tag.name}}
      </button>
    </mat-menu>
  </div>

  <div class="wrapper">
    <button mat-icon-button (click)="toggleFavorite()">
      <mat-icon>{{ isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
    </button>
    <a class="cart" routerLink="/order"><mat-icon [matBadge]="3" matBadgeColor="primary">local_grocery_store</mat-icon></a>
    <a *ngIf="userService.currentUser" (click)="logout()">Logout ({{userService.currentUser.email}})</a>
    <a *ngIf="!userService.currentUser" routerLink="/user/login">Login</a>
    <a *ngIf="!userService.currentUser" routerLink="/user/register">SignUp</a>
  </div>
</nav>
