.certificates-container {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: 800px;
  justify-content: center;
  margin: auto;
  max-width: 1000px;
}

.search-text {
  text-align: center;
}
