<h2 matDialogTitle>{{data.title}}</h2>
<mat-dialog-content>
  <p>{{data.content}}</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <!--
    Note that you can pass in anything to the `matDialogClose` attribute. This also includes objects, arrays, etc.
    Just make sure that you make it a property binding with those [] brackets
    Example: <button mat-button [matDialogClose]="{'lol': true}">Cancel</button>
  -->
  <button mat-button matDialogClose="ok" color="primary" >{{data.buttonLabel}}</button>
</mat-dialog-actions>
