.notfound-wrapper {
  margin: 40px auto;
  text-align: center;
  width: 400px;

  h1 {
    color: rgba(0,0,0,0.7);
    font-size: xxx-large;
  }

  span {
    color: rgba(0,0,0,0.7);
    font-size: xx-large;
  }
}
