@charset 'utf-8';

/* this variable will be retained after sccs transpires to css  */
:root {
  --cart-items-count: 3;
}

$mobile-breakpoint: 640px;
$tablet-breakpoint: 768px;

@mixin flex-container($justify: space-between) {
  display: flex;
  justify-content: $justify;
  flex-wrap: wrap;
}

@mixin fit-image($height, $fit: cover) {
  width: 100%;
  height: $height;
  object-fit: $fit;
}

@mixin cart-font {
  font-size: 20px;
  font-weight: 800;
}

@mixin common-button($width) {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;  
  width: $width;
}

body {
  background-color: #f0f0f0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);

  @media (max-width: $mobile-breakpoint) {
      font-size: 12px;
  }

  * {
    box-sizing: border-box;
  }
}

.main-wrapper {
  align-items: flex-start;
  display: flex;
  height: 90vh;
}

.wrapper {
  align-items: center;
  display: flex;

  & > a {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 600;
    margin: 6px 0;
    padding: 4px;
    text-decoration: none;
  }
}

/* The Modal (background) */
.modal {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
  display: none;
  justify-items: center;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* The Close Button */
.close {
  color: rgb(255, 254, 254);
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}


/* ==================== Navigation bar ================================= */
.navbar {
  @include flex-container(space-between);
  align-items: center;
  background-color: #ffffff;
  margin: 0;
  padding: 0 8px;

  & > .wrapper > a + a:last-child {
    border-left: 2px solid rgba(0, 0, 0, 0.6);
  }

  a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
  }
}

/* hover & focus */
.navbar a:hover, 
.dropdown-button:hover, .dropdown-button:focus,
.cancel-btn:hover {
  background-color: #ddd;
}

/* Awesome icons*/
a > i.material-icons {
  border: 0;
  line-height: 18px;
  color: rgba(0,0,0,0.6);
}

/* Material icons*/
.material-icons {
  vertical-align: text-bottom;

  &.dropdown-button {
    font-size: 32px;
  }
}

/* Navbar logo */
img.avatar-navbar {
  height: 30px;

  &:hover {
    opacity: 0.6;
  }
}

.search-container input {
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  min-width: 210px;
  padding: 8px;
  width: 33vw;

  &:hover {
    background-color: rgb(232, 232, 232);
  }

}

.tag-search-container {
  &:hover {
    background-color: white;
  }

  i {
    line-height: 18px;
  }

  form input {
    background-color: #f1f1f1;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 16px;
    text-align: left;
    width: 160px;
    
    &:hover,
    &:focus {
      background-color: white;
    }
  }
}

/* Dropdown Button */
.dropdown-button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  padding: 4px;
  margin-right: 4px;
  white-space: nowrap;
}

/* The container <div> - needed to position the dropdown content */
.dropdown, .dropdown a {
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  font-size: 15px;
  min-width: 160px;
  position: absolute;
  
    a {
    padding: 12px 16px;
    display: block;
    text-align: left;
  }
}

/* Show the dropdown menu */
.show {
  display: block;
}

/* Show the nested menu on mouseover */
.sub-menu:hover .dropdown-content {
  display: inline-block;
}

.sub-menu > a{
  width: 100%;
  display: inline-block;
}


/* ============================ Main Page ============================= */
.scroll-top {
  height: 32px;
  left: 2px;
  opacity: 0.7;
  position: fixed;
  top: 90vh;
  width: 32px;

  img {
    @include fit-image(100%)
  }

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.loading-icon {
  height: 50px;
  margin: 10px auto;
  width: 100%;

  img {
    @include fit-image(100%, contain);
  }
}


.categories-panel {
  box-sizing: border-box;
  background-color: #ddd;
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 12px;
  height: calc(60px + 3%);
  justify-content: center;
  width: 100%;
}

.categories-wrapper {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}

.category-figure {
  align-items: center;
  background-color: white;
  background-image: url("../assets/logo.png");
  background-position: center;
  border-radius: 5%;
  display: flex;
  flex: 0 1 auto;
  height: 120px;
  margin: 6px auto;
  min-height: 60px;
  min-width: 60px;
  opacity: 0;
  transition: opacity 1s 1s;
  width: 120px;

  &:hover {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)) url("../assets/logo.png");
    background-color: #ddd;
    background-size: cover;
    cursor: pointer;
    opacity: 0.9;

    .tag-name {
      display: block;
    }  
  }

  .tag-name {
    background-color: rgb(0, 0, 0);
    border-radius: 7%;
    color: white;
    display: none;
    height: 40px;
    line-height: 40px;
    margin: 10px auto;
    padding: 0 4px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    width: 90%;
  }

  

  @media (max-width: $mobile-breakpoint) {
    height: 100px;
    width: 100px;
    .tag-name {
      font-size: 10px;
    }
  }
}

.certificates-container {
  @include flex-container(center);
  align-content: flex-start;
  height: 800px;
}

.card {
  background-color: white;
  height: 300px;
  margin: 8px;
  max-width: 160px;
  min-width: 100px;
  opacity: 0;
  transition: opacity 1s;

  img {
    background-color: #ddd;
    border-block-end: 2px ridge rgb(226, 226, 226);
    @include fit-image(66%);

    &:hover {
      cursor: pointer;
      object-fit: scale-down;
    }

    @media (max-width: $mobile-breakpoint) {
      max-height: 50%;
    }
  }

  @media (max-width: $mobile-breakpoint) {
      height: 250px;
      max-width: 120px;
  }
}

.card-text {
  display: flex;
  flex-flow: column nowrap;
  font-size: 12px;
  justify-content: space-between;
  height: 33%;
  padding: 0 8px;

  & > * {
    flex: 1 0 auto;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 11px;
    padding: 2px;
  }
}

.card i {
  float: right;

  &:hover {
    background-color: rgb(218, 218, 218);
    cursor: pointer;
  }

  @media (max-width: $mobile-breakpoint) {
    display: inline-block;
    float: none;
  }
}

.card-description {
  font-weight: 400;
  max-height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

.card-item-name,
.price {
  display: inline-block;
  font-size: 14px;
  line-height: 2em;
  max-height: 2em;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: $mobile-breakpoint) {
    line-height: 1em;
    font-size: 13px;
  }
}

.price {
@media (max-width: $mobile-breakpoint) {
    margin-top: 10px;
  }
}

.card-btn {
  float: right;
  cursor: pointer;
  margin: 4px;
  padding: 1px;

  @media (max-width: $mobile-breakpoint) {
    width: 50px;
  }
}


/* ============================ Item page ============================== */
.item-page-wrapper {
  padding: 20px;
}

.item-wrapper {
  @include flex-container(space-evenly)
}

.flex-item {
  flex: 1 1 auto;

  & + & {
    padding: 20px;
    margin-left: 20px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-left: 0px;
  }
}

.item-container {
  max-width: 1000px;
  width: 500px;
}

.item-img {
  background-color: #ddd;
  height: 300px;

  & > img {
    @include fit-image(100%, contain);
  }
}

.item-card {
  background-color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 300px;
  max-width: 500px;
  width: 300px;
}

.expires-block {
  div {
    font-size: 12px;
  }

  span {
    font-size: 16px;
  }
}

.item-name,
.item-price,
.item-price p {
  font-size: 24px;
  font-weight: 900;
}

.cart-icon {
  float: right;
  font-size: 30px;
  line-height: 10px;
  margin-left: 10px;

  &:hover {
    background-color: #ddd;
  }
}

.add-to-cart-link {
  float: right;
  text-decoration-line: none;
  color: rgb(0, 50, 250);

  &:hover {
    background-color: #ddd;
  }
}


/* ========================== Order page ======================= */
.order-container {
  width: 70%;
  max-height: 600px;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;

  @media (max-width: $mobile-breakpoint) {
    width: 90%;
  }
}

.order-wrapper {
  color: rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-columns: 15% auto 15% 15%;
  grid-template-rows: repeat(var(--cart-items-count), 2fr) 0.7fr;
  margin-top: 30px;

  & > div:nth-last-of-type(3) {
    border-bottom: 2px ridge #ddd;
  }
}

.order-form {
  display: inline-block;
  margin: 0 8%;
  width: 40%;
}

.order-item {
  display: flex;
  grid-column: 1 / 5;
  height: 120px;
  padding-bottom: 20px;

  img {
    @include fit-image(100%);
    background-color: #ddd; 
  }

  &-name {
    @include cart-font;
    margin-top: 0;
    margin-block-end: 10px;
  }

  &-name:hover {
    color: rgba(0, 0, 255, 0.8);
    cursor: pointer;
    text-decoration-line: underline;
  }

  &-price p {
    @include cart-font;
  }

  &-description {
    flex: 1 1 55%;
    padding-left: 20px;

    a {
      color: inherit;
      text-decoration: none;
    }

    p {
      margin-block-start: 0;
      margin-block-end: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.order-item-img,
.empty-block,
.order-item-price {
  flex: 1 1 15%;
}

.total-text {
  @include cart-font;
  grid-column: 3 / 4;
  grid-row: 4 / 5 ;

  @media (max-width: $mobile-breakpoint) {
    grid-column: 2 / 3;
    grid-row: 4 / 5 ;
  }
}

.total-cost {
  @include cart-font;
  grid-column: 4 / 5;
  grid-row: 4 / 5 ;
}

.order-btn-group {
  text-align: right;
}


/* ============================ Forms ============================ */
.form-header {
  background-color: #a0a0a0;
  color: white;
  font-size: 18px;
  font-weight: 500;

  p {
    height: 50px;
    line-height: 50px;
    margin: 0 3% 0 16%;
  }
}

.form-wrapper {
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  font-size: 12px;
  font-weight: 600;
  min-width: 180px;
  width: 40%;

  & + & {
    margin-left: 5%;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-left: 0;
  }
}

.app-form input,
.app-form select,
.app-form textarea {
  border: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 600;
  margin: 8px 0;
  padding: 8px;
}

.app-form input:hover,
.app-form select:hover,
.img-upload:hover {
  background-color: #f3f3f3;
}

/* Set a style for submit buttons */
.btn {
  @include common-button(100%);
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
}

/* Set a style for cancel buttons */
.cancel-btn {
  @include common-button(40%);
  background-color: white;
  border: 2px solid #ccc;
  color: rgba(0, 0, 0, 0.7);
  padding: 8px;
}

.btn-group {
  @include flex-container(space-between);
  margin: 24px 0 10px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.image-input {
  background-color: white;
  border: 1px solid #ccc;
  height: 38px;
  margin: 8px 0;
  padding: 2px 2px 2px 8px;
}

.img-upload {
  margin: 3px;
  max-height: 80%;
  float: right;
}

#customText {
  line-height: 32px;
}


/* Login form ----------------------------------------------- */ 
/* Center content inside login form container */
.login-form-container {
  background-color: #f9f9f9;
  border: 2px solid #a0a0a0;
  font-size: larger;
  margin: auto;
  min-width: 300px;
  max-width: 600px;
  width: 40%;

  button,
  &::placeholder {
    font-size: 19px;
    font-weight: 500;
  }

  input {
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    margin: 8px 0;
    padding: 8px;
    text-align: center;
    width: 100%;
  }
}

/* Center the avatar image inside this container */
.img-container {
  margin: -15% auto;
  max-width: 150px;
  text-align: center;
  width: 45%;

  .avatar {
    border-radius: 0 0 50% 50%;
    width: 80%;
  }
}

/* Add padding to containers */
.input-container {
  margin: 15% auto 20px;
  padding: 16px;
  width: 70%;
}


/* Register form ---------------------------------------------------------*/
/* Center content inside form container */
.register-form-container {
  background-color: #f9f9f9;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.5);
  margin: auto;
  max-width: 1100px;
  width: 70%;

  form {
    @include flex-container();
    padding: 15px;
  }
  
  p {
    margin-left: 3%;
  }

  button {
    width: 45%;
  }
}


/* Add new Certificate form ----------------------------------------------*/
.add-certificate-wrapper {
  background-color: #f9f9f9; 
  display: block;
}

/* Center content inside form container */
.add-form-container {
  background-color: #f9f9f9;
  display: block;
  margin: 0 auto;
  width: 70%;

  form {
    @include flex-container();
    padding: 15px;
  }

  button {
    width: 45%;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 90%;
  }
}

.add-form-container label {
  margin-top: 8px;
}
