<div class="main-wrapper">
  <div id=login class="login-form-container">
    <form action="http://localhost:8088/gift-rest-service/login" method="post">
      <div class="img-container">
        <img src="/assets/logo2.png" alt="Logo" class="avatar">
      </div>
      <div class="input-container">
        <input type="text" placeholder="Login" name="email" required>
        <input type="password" placeholder="Password" name="password" required>
        <button type="submit" class="btn">Login</button>
      </div>
    </form>
  </div>
</div>
